NODE_ENV=
PORT=3002
TCP_PORT=3003

# Database
DATABASE_URL=

# Redis
REDIS_URL=

# JWT secrets
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Token expiration (seconds)
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# Login Policy
LOGIN_MAX_ATTEMPTS=5
LOGIN_ATTEMPT_TTL=3600
LOGIN_LOCK_TTL=900
