# --- Dependencies ---
node_modules/
**/node_modules/
.pnpm-debug.log*
.npm/

# --- Build / Output ---
dist/
**/dist/
build/
**/build/
*.tsbuildinfo
.turbo/
.next/
out/

# --- OS / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# --- Logs & Temp ---
*.log
*.log*
log/
.log/
logs/
.logs/
tmp/
.tmp/
temp/
.temp/

# --- Testing ---
coverage/
.nyc_output

# --- Security ---
*.pem
*.key
*.pub

# --- Environment Variables ---
.env
.env.*
!.env.example