NODE_ENV=
PORT=
RABBITMQ_URL=
AUTH_SERVICE_HOST=
AUTH_SERVICE_PORT=

# JWT access token verification secret
JWT_ACCESS_SECRET=

# Optional: Redis connection URL if gateway validates token/session state via Redis
REDIS_URL=
